doctype 5
html
	head
		title= title
		meta(name="viewport",content="width=device-width")
		meta(name="description",content="Concentrated reading.")
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='/css/styles.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cinzel')
		script(src='/libs/jquery.js')
		script(src='/libs/bootstrap/js/bootstrap.js')
		script(src='/libs/underscore.js')
		script(src='/libs/q.js')
		script(src='/libs/fastclick.js')
		script(src='/js/app.js')
	body	
		#navbar.navbar.navbar-fixed-top
			.navbar-inner
				.pull-left
					ul.nav
						li#listButton
							a(href="#")
								i.icon-tasks
						li#settingsButton
							a(href="#")
								i.icon-font
						li#loginButton.hide
							a(href="#")
								i.icon-user
				.pull-right
					ul.nav
						li#addButton.hide
							a(href="#")
								i.icon-plus
						li#saveButton.hide
							form.navbar-form
								a.btn.btn-primary(href="#")
									i.icon-save
									|  Save
		.container-fluid
			.row-fluid(style="margin-top: 60px;")
				.span12
					.view.hide#settingsView
						div.hide
							a Continuous
							a Columned
							a Concentrated
						div(style="margin-bottom: 12px;")
							input#fontSize(min=12,max=48,step=.5,type="range",style="min-width: 300px;max-width: 400px;width:40%;")
						#fontFamilies
							.fontFamily.active(style="font-family: 'Arial', sans-serif")
								span 
							.fontFamily(style="font-family: 'Times', serif")
								span The quick brown fox jumps over the lazy dog.
							.fontFamily(style="font-family: ")
								span The quick brown fox jumps over the lazy dog.
					.view.hide#addView
						textarea#newArticleContent(style="resize:none",autofocus,placeholder="Paste article here").input-block-level
					.view.hide#listView
						table.table.table-striped.table-hover
							tbody
						script(type="text/html")#articleListingTemplate
							tr
								td
									{{preview}}			
					.view.hide#readView
						#columns.readMode
						#continuous.readMode
						#concentrated.readMode
						#progress
							#progressInner